<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class="index-background">
<header>
    <th:block th:include="~{fragments/common-nav-bar}"></th:block>
</header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-dark">Search for Bars</span></h1>
    <hr class="hr-3"/>
    <div class="bg-blur w-100">
        <div class="row mb-4 d-flex flex-column text-center">
            <form th:action="@{/home}" th:method="get">
                <div class="row d-flex justify-content-between">
                    <div class="col-3">
                        <select class="form-control" name="Category">
                            <option selected="selected" disabled="disabled">Category</option>
                            <option th:each="category : ${T(com.project.barfinder.domain.entities.Category).values()}"
                                    th:value="${category}" th:text="${category}"></option>
                        </select>

                    </div>
                    <div class="col-3">
                        <select class="form-control" name="MusicStyle">
                            <option selected="selected" disabled="disabled">Music Style</option>
                            <option th:each="musicStyle : ${T(com.project.barfinder.domain.entities.MusicStyle).values()}"
                                    th:value="${musicStyle}" th:text="${musicStyle}"></option>
                        </select>

                    </div>
                    <div class="col-3">
                        <select class="form-control" name="Price Range">
                            <option selected="selected" disabled="disabled">Price Range</option>
                            <option th:each="priceRange : ${T(com.project.barfinder.domain.entities.PriceRange).values()}"
                                    th:value="${priceRange}" th:text="${priceRange}"></option>
                        </select>

                    </div>
                </div>
                <div class="d-flex justify-content-center mt-5">
                    <button type="submit"
                            class="btn bg-dark btn-outline-dark rounded text-white font-weight-bold">Search
                    </button>
                </div>
            </form>
            <div class="bars w-100 px-4 bg-black mt-5">
                <div class="bar py-3 d-flex justify-content-between" th:each="bar, iter : ${bars}">
                    <div class="image-data w-15 d-flex justify-content-start">
                        <img class="img-thumbnail" src="https://www.belushis.com/__data/assets/image/0008/501200/Belushis-Bar-Amsterdam-Interior-3.jpg" width="150" height="150" />
                    </div>

                    <div class="bar-data w-85">
                        <div class="bar-name-and-price-range d-flex justify-content-between">
                            <h4 class="text-white text-left w-50" th:text="|Name : ${bar.name}|" ></h4>
                            <h5 class="text-white text-right w-50" th:text="|Music Style : ${bar.musicStyle}|"></h5>
                        </div>
                        <p class="text-white text-left"th:text="|Description : ${bar.description}|"></p>
                        <h5 class="text-white text-right " th:text="|Price range : ${bar.priceRange}|" ></h5>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</main>
<span style="visibility: hidden">...</span>
<footer class="footer bg-dark d-flex justify-content-center py-2 mx-auto">
    <head>
        <th:block th:include="~{fragments/footer}"></th:block>
    </head>
</footer>
</body>
</html>
