<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"><head>
<head>
    <th:block th:include="~{fragments/head}"></th:block>
</head>
<body class= "index-background">
<header>
<th:block th:include="~{fragments/common-nav-bar}"></th:block>
</header>
<main>
    <div class="container-fluid index-background">
        <h1 >Welcome to Bar Finder</h1>
        <hr class="text-light"/>
        <p class="h4">Explore the night life and find your place</p>
        <p class="h4">Trust us, we'll find you the best party place for your style and taste!</p>
        <hr class="my-3"/>
        <h3><a th:href="@{/users/login}"> if you have an account or</a>
            <a th:href="@{/users/register}"> now and let yourself into the bar world.</a>
        </h3>
    </div>
</main>
<footer class="footer bg-dark d-flex justify-content-center py-2">
   <th:block th:include="~{fragments/footer}"></th:block>
</footer>
</body>
</html>