<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Bar Finder</title>
	<link rel="stylesheet" href="../static/css/reset-css.css">
	<link rel="stylesheet" href="../static/css/bootstrap.min.css">
	<link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/bootstrap.min.js"></script>
	
</head>
<body class= "index-background">
<header>
    <nav class="navbar bg-dark navbar-expand-lg navbar-background bg-dark ">
        <a class="nav-link text-white h4" href="/">Bar Finder</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">
            <ul class="navbar-nav row">
                <li class="nav-item col-md-5">
                    <a class="nav-link text-white active h5" href="/">Home</a>
                </li>
                <li class="nav-item col-md-5">
                    <a class="nav-link text-white active h5" href="/users/login">Login</a>
                </li>
                <li class="nav-item col-md-5">
                    <a class="nav-link text-white active h5" href="/users/register">Register</a>
                </li>
            </ul>
        </div>
    </nav>
</header>
<main>
    <div class="container">
        <h1 >Welcome to Bar Finder</h1>
        <hr class="my-3"/>
        <p class="h4">Explore the night life and find your place</p>
        <p class="h4">Trust us, we'll find you the best party place for your style and taste!</p>
        <hr class="my-3"/>
        <h3><a href="/login"> if you have an account or</a>
            <a href="/register"> now and let yourself into the bar world.</a>
        </h3>
    </div>
</main>
<footer class="footer bg-dark  py-2">
    <div class="container-fluid text-center">
        <div class="footer-background h5 text-white">
            &#169; Bar Finder. All rights reserved.
        </div>
    </div>
</footer>
</body>
</html>